@use "../../_themes.module.scss" as theme;

.container {
  width: 100vw;
  height: 100vh;
  font-family: theme.$font-family;
  color: theme.$font-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: theme.$card-bg;
  padding: 2rem;
  border-radius: 0.8rem;
  width: 34rem;
  height: 32rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background-color: theme.$card-bg;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 0.5rem;
    height: 3rem;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
}

.title {
  font-size: 1.5rem;
}
